@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h2 {
    text-align: center;
}

.piano2D {
    background-color: #121212;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#div-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.controls {
    color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.switcher {
    width: 150px;
    height: 50px;
    background-color: #cb6ce6;
    display: flex;
    border-radius: 50px;
    padding: 4px;
}

.switcher__button {
    height: 100%;
    aspect-ratio: 1/1;
    background-color: #cb6ce6;
    filter: drop-shadow(0 0 15px #cb6ce6) contrast(1) brightness(0.8);
    border-radius: 50%;
}

.switcher__button:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 15px #cb6ce6) drop-shadow(0 0 50px #cb6ce6) contrast(2) brightness(1.5);
}

.switcher--active {
    cursor: pointer;
    filter: drop-shadow(0 0 10px #cb6ce6) drop-shadow(0 0 15px #cb6ce6) contrast(2) brightness(1.5);
    justify-content: flex-end;
}

.checkbox__label {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

.piano__keys {
    width: 100%;
    height: 330px;
    background-color: #181818;
    padding: 20px 40px;
    display: flex;
}

.white {
    background-color: white;
    flex-grow: 1;
    border-radius: 5px;
    border-bottom: 5px solid #ddd;
    color: rgba(0, 0, 0, 0.3);
    margin-left: -17px;
    z-index: 1;
}

.key span {
    font-weight: 600;
    position: absolute;
    transition-duration: 300ms;
}

.key {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 8px;
    user-select: none;
}

.black {
    width: 17px;
    background: linear-gradient(black, #333);
    height: 75px;
    border-radius: 0 0 5px 5px;
    border-bottom: 5px solid #222;
    margin-left: 1px;
    z-index: 2;
    color: rgba(255, 255, 255, 0.3);
}

.piano__keys .white:nth-child(1) {
    margin-left: 0;
}

.piano__keys .white:nth-child(5) {
    margin-right: 19px;
}

.piano__keys .white:nth-child(12) {
    margin-right: 19px;
}

.piano__keys .white:nth-child(17) {
    margin-right: 19px;
}

.black--pressed {
    background: linear-gradient(#222, black);
    border-bottom: none;
    height: 68px;
}

.disabled-keys span {
    opacity: 0;
}
