body {
    margin: 40px;
}

button {
    height: 70px;
    width: 200px;
    background-color: #4B946A;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
}

button:hover {
    cursor: pointer;
    background-color: gold;
}

p {
    width: 250px;
    font-size: 20px;
    min-height: 30px;
    border: 1px solid black;
}