* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.8);
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header img {
    height: 150px;
}
header nav {
    height: 150px;
    background-color: transparent;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

nav a {
    color: white;
    height: 35%;
    min-width: 15%;
    padding: 15px 10px 0 10px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    text-align: center;
    text-justify: auto;
    transition: all 400ms ease;
}

nav a:hover, .active {
    background-color: grey;
    color: black;
}

nav a:first-child {
    border-radius: 10px 0 0 10px;
}
nav a:last-child {
    border-radius: 0 10px 10px 0;
}

section {
    margin-top: 70px;
}

h2 {
    font-size: 40px;
    color: gold;
    margin-left: 10px;
    letter-spacing: 0.15em;
}

p {
    color: white;
    line-height: 1.5;
    text-align: justify;
    font-size: 27px;
}