doctype html
html
    head
        meta(charset='UTF-8')
        title LET&apos;S PLAY!
        link(rel='stylesheet' href='/stylesheets/homePage.css')
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css' integrity='sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp' crossorigin='anonymous')

        script(type='text/javascript' src='/javascripts/url.js')
        script(type='text/javascript' src='/javascripts/requests_answers.js')
        script(type='text/javascript' src='/javascripts/indexs.js')
        script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js' integrity='sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N' crossorigin='anonymous')
        script(type='text/javascript' src='/javascripts/calcoloCalibrazione.js')
        script(type='text/javascript' src='/javascripts/homePage.js')

    body.body-before(background='/images/sfondoHomePage.png')
        button.btn.btn-primary(type='button' disabled='')
            span.spinner-border.spinner-border-sm(role='status' aria-hidden='true')
            |             Attendi...