doctype html
html(lang='it')
    head
        meta(charset='UTF-8')
        title Severini: istruzioni
        link(rel='stylesheet' href='/stylesheets/style.css')
        link(rel='stylesheet' href='/stylesheets/istruzioni.css')
    body
        header
            img(src='/images/logo.png')
            nav
                a(href='/') Home
                a.active(href='#') Istruzioni e uso
                a(href='/downloads') Download
                a(href='/game' target='_blank') Let's play
        section
            h2 ISTRUZIONI
            div#corpo-centrale
                p Scarica da /downloads ed esegui il file python scaricato (la prima volta esecuzione del file potrebbe risultare lunga)
                p Scaricare il programma su /download per piattaforme Linux e Windows o iniziare a giocare online
                p Per la calibrazione, Posizionarsi sul quadrato rosso con la rispettiva punta del piede nell&apos;angolo del quadrato.
                p Quando si vuole confermare la posizione sollevare il rispettivo braccio
                p Se si è da browser, sarà necessario cliccare o toccare lo schermo in un punto a scelta per abilitare l'audio (politiche dei browser)
